---
import GitHubIcon from './icons/GitHubIcon.astro';
import GlobeIcon from './icons/GlobeIcon.astro';
import { projects } from '../constants';

---
<ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 mx-auto max-w-[1600px] px-8">
  {projects.map(({ title, description, builtWith, links, award }, index) => (
    <li
    style={`animation-delay: ${(index + 1) * 150}ms;`}
    class="animate-fade-down p-4 rounded-md bg-gradient-to-b from-[#f3f3f3] to-[#fffffc]  drop-shadow-2xl shadow-md border-b-4 border border-background border-b-stone-300 hover:shadow-xl transition-all hover:-translate-y-1 brightness-100 hover:brightness-[102.5%]">
      {award && (
        <a href={award.url} class="flex justify-between gap-4 text-sm hover:underline mb-2">
          {award.name}

          <div class="relative top-0">
            <span class="absolute z-20 left-0 right-0 mx-auto text-center block top-1 font-bold text-amber-800">{award.position}</span>
            <div class="relative z-10 drop-shadow-md rounded-full inline-flex gap-2 items-center p-3 bg-gradient-to-b to-yellow-400 from-amber-600 via-orange-300 border border-amber-400 ring-2 ring-amber-400 text-yellow-100 shadow-md" />
            <div
              class="border-red-400 border-2 bg-gradient-to-b from-rose-500 to-red-700 w-6 h-20 z-0 absolute -top-5 left-0 right-0 mx-auto rounded-sm"
              style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);"
            />
          </div>
        </a>
      )}

      <h3 class="prose text-md leading-7">{title}</h3>	
      <p class="prose border-b border-slate-200 pb-2">
        {description}

        <span class="block text-xs mt-2">Built with: {builtWith.join(', ')}</span>
      </p>

      <ul class="border-t border-white pt-3">
        {links.map(({ name, url }) => (
          <li>
            <a href={url} class="inline-flex items-center gap-2 text-sm hover:underline">
              {url.includes('github.com') ? <GitHubIcon size={15} /> : <GlobeIcon size={15} />}
              {name}
            </a>
          </li>
        ))}
      </ul>
    </li>
  ))}
</ul>